.services-section {
  max-width: 800px;
  margin: 30px auto;
  padding: 20px;
  text-align: center;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(16.5px);
  -webkit-backdrop-filter: blur(16.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  color: white;
}

.services-section h2 {
  margin-bottom: 20px;
}

.service-cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.service-card {
  width: 300px;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: left;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.service-card img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.service-info {
  padding: 10px;
}

.service-info h3 {
  margin-top: 0;
 
}

.about-company {
  text-align: justify;
}
